body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.main{
    width: 350px;
    height: 400px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: all linear .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        
        display: inline-block;
        width: 120px;
        height: 60px;
        border:  2px solid #fff;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        color: #00ff00;
        display:flex;
        justify-content: center;
        align-items: center;

    }
    &:hover{
        background: #83A2FF;
    }
    &:hover a{
        border-color: #000;
        background: #00ff00;
        color: black;
    }
}